* {
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
}

body {
	background: radial-gradient(ellipse at center, #1F5AD8 0%, #055B9B 50%, #027A7A 100%);
	margin: 1em;
}

footer {
	background: radial-gradient(ellipse at center, #1F5AD8 0%, #055B9B 50%, #027A7A 100%);
	border-style: solid;
	box-shadow: 5px 5px 5px black;
	margin-top: 1em;
	width: inherit;
}

footer ul {
	list-style: none;
	width: 87%;
}

footer ul li {
	align-self: center;
	margin-right: auto;
}

img {
	border-radius: 30%;
	border-style: dashed;
	box-shadow: 5px 5px 5px black;
	height: 120px;
	width: 120px;
	}

h5 {
	font-size: x-large;
}

header {
	background: radial-gradient(ellipse at center, #1F5AD8 0%, #055B9B 50%, #027A7A 100%);
}

header img{
	height: 240px;
	width: 240px;
}

header section {
	background: radial-gradient(ellipse at center, #2ED848 0%, #239B35 50%, #187A23 100%);
	border-style: solid;
	box-shadow: 5px 5px 5px black;
	width: inherit;
}

main {
	background: radial-gradient(ellipse at center, #2ED848 0%, #239B35 50%, #187A23 100%);
	border-style: solid;
	box-shadow: 5px 5px 5px black;
	margin-top: 1em;
}

main section {
	background: radial-gradient(ellipse at center, #2ED848 0%, #239B35 50%, #187A23 100%);
}

nav {
	width: 100%;
}

nav ul {
	font-size: 150%;
	list-style: none;
	padding: 4%;
	width: auto;
}

nav ul li {
	margin-right: auto;
}

.flex {
	display: flex;
}

.flex-img {
	align-items: center;
	display: flex;
	margin: auto;
	width: fit-content;
}

.hover :hover {
	height: 180px;
	width: 180px;
}

.remove-bullets {
	list-style: none;
	padding: 0;
}

@media screen and (max-width: 992px) {
	ul {
		flex-wrap: wrap;
	}
	img {
		flex-wrap: wrap;
	}
}

/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
	ul {
		flex-wrap: wrap;
	}
}

/* Small smartphones - image placeholders change color */
@media screen and (max-width: 576px) {
	ul {
		flex-wrap: wrap;
	}
}
